.recharge-container {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .recharge-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    transition: box-shadow 0.3s ease;
    margin-top: 5rem;
  }
  
  .recharge-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .recharge-logo {
    max-width: 100px;
    margin-bottom: 20px;
    margin-top: 0; 
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .recharge-form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .recharge-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
  }
  
  .recharge-button:hover {
    background-color: #0056b3;
  }
  